.mastery1{
    display: block;
    text-align: center;
}

.mastery1 #lvlMastery1 {
    display: flex;
    justify-content: center;
}

.mastery2{
    display: block;
    text-align: center;
}

.mastery2 #lvlMastery2 {
    display: flex;
    justify-content: center;
}

.mastery3 {
    display: block;
    text-align: center;
}

.mastery3 #lvlMastery3 {
    display: flex;
    justify-content: center;
}

/* #champIcon3 img {
    border-radius: 60px;
} */

.icone #rankIMGSolo img {
    position: relative;
    width: 400px;
}

.icone #rankIMGFlex img {
    position: relative;
    width: 400px;
}

.icone #iconePlayer img{
    border-radius: 50px;
    width: 200px;
}
